.app {
  font-family: 'Roboto', sans-serif;

  /* Sizing & Positioning */
  height: 100%;
}

.flex{
  display: flex;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.flex-direction-column{
  flex-direction: column;
}