.login-page{
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: rgba(82, 82, 82, 0.541);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel{
    width: 320px;
    height: auto;
    /* padding: 0px 40px; */

    background-color: rgb(233, 233, 233);

    border-radius: 8px;

    overflow: hidden;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}   

.login-title{
    /* border: 1px solid rgb(255, 60, 0); */
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 15px 0px;

    background-color: rgb(255, 92, 80); 
    color: white;
    font-size: 28px;
    font-weight: bold;   
}

.login-form{
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding: 20px 40px; */
    padding-bottom: 0px;

}

.login-form-input::placeholder{
    color: rgb(145, 145, 145);
}

.login-form-input:focus{
    outline: none;
    border: 2px solid rgb(114, 166, 209);

}

.login-form-input{

    border-radius: 2px;

    border: 2px solid transparent;

    padding: 15px 10px;

    height: 30px;
    width: 80%;
    max-width: 80%;
    font-size: 18px;
    color: rgb(41, 132, 160);

    box-sizing: border-box;
}

.login-img{
    /* border: .5px solid rgb(190, 190, 190); */

    width: 80%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    border-radius: 5px;

    margin-top: 10px;
}

.login-submit{
    background-color: #486791;
    font-size: 18px;
    border: none;
    margin: 0;
    height: 50px;
    width: 100%;

    color: white;
    font-family: 'Roboto', sans-serif;
}

.login-redirect{
    width: 80%;

    /* text-decoration: none; */
    color: rgb(128, 128, 128);

    text-align: center;
    font-size: 16px;
    padding: 10px 0px;

    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.form-state{
    margin-top: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-state > *{
    margin-bottom: 10px;
}