.signup-page{

    height: 100%;
    
    background-image: linear-gradient( 111.5deg, rgba(20,100,196,1) 0.4%, rgba(33,152,214,1) 100.2% );

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form{
    width: 320px;
    height: auto;
    /* padding: 0px 40px; */

    background-color: rgb(233, 233, 233);

    border-radius: 8px;

    overflow: hidden;

    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.signup-form > *{
    margin-bottom: 10px;
}

.signup-title{
    /* border: 1px solid rgb(255, 60, 0); */
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 15px 0px;

    background-color: white;
}

.signup-image{
    border: .5px solid rgb(190, 190, 190);

    width: 80%;
    height: 200px;
}

.signup-input{
    border-radius: 2px;

    border: 2px solid transparent;

    padding: 15px 10px;

    height: 30px;
    width: 80%;
    max-width: 80%;
    font-size: 18px;
    color: rgb(41, 132, 160);

    box-sizing: border-box;
}

.signup-input:focus{
    outline: none;
    border: 2px solid rgb(114, 166, 209);
}

.signup-submit{
    background-color: rgba(83, 157, 207, 0.849);
    font-size: 18px;
    border: none;
    margin: 0;
    height: 50px;
    width: 100%;

    color: white;
    font-family: 'Roboto', sans-serif;
}
