.landing-div{
    /* border: 2px solid blue; */
    height: 50vh;
    margin-top: 90px;

    display: grid;
    grid-template-columns: [left] 60% [right] 40%;
}

.landing-logo{
    margin: 0px 5px;
}

.landing-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 2px solid green; */
}

.landing-title-wrapper{
    /* border: 2px solid blue; */

    display: flex;
}

.landing-title{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;

    display: flex;
    align-items: center;
}

.landing-description{
    font-size: 28px;
    letter-spacing: -1px;
    color: #486791;
}

.fist-div{
    height: 120px;
    width: 120px;
}

.tow{
    position: fixed;
    margin-top: 90px;
    right: 100px;
    height: 100px;
    width: 100px;
}

.home-divider{
    height: 150px;
    /* border: 2px solid blue; */
    width: 100%;

    box-shadow: inset 0px 0px 13px 0px rgba(0,0,0,0.83);
    background: linear-gradient(to right, #3A4458, rgb(87, 98, 122));

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.app-description-wrapper{
    /* border: 2px solid red; */
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app-description{
    /* border: 2px solid blue; */

    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: [left] 33.3% [middle] 33.3% [right] 33.3%;
}

.description{
    /* border: 2px solid red; */

    padding: 0px 40px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.description-icon{
    /* border: 2px solid purple; */
    height: 175px;
    width: 175px;

    /* border: 2px solid blue; */
    display: flex;
}

.description-title{
    font-size: 30px;
}

.description-text{
    font-size: 20px;
}

.hand-wrench{
    width: 175px;
}