.grid{

    /* Sizing & Positioning */
    min-height: 100%;

    /* Styling */
    background-color: #ececec; 

    /* Setup for child elements */
    display: grid;
    grid-template-rows: [navbar] 140px [content] auto [bottom] 80px;
    grid-template-columns: [left] 80px [middle] auto [right] 80px;
}

.page{

    /* Sizing & Positioning */
    grid-row-start: content;
    grid-column-start: middle;

    /* Styling */
    background-color: white;
    text-align: center;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-left: 8px solid #486791;

    /* Setup for child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;

    /* Testing */
    /* border: 2px solid red; */
}

.left-panel{
    grid-row-start: content;
    grid-column-start: left;
}

.page-title{

    /* Sizing & Positioning */
    height: 100px;
    min-height: 100px;
    width: 100%;

    /* Styling */
    font-size: 30px;

    /* Setup for child elements */
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.page-content{
    /* Sizing & Position */
    width: 100%;
    min-width: 200px;
    height: auto;
}

/* ------------------------------------------------------------------------------ */

